body {
    background: linear-gradient(to right top, #8cdf65, #98e0d1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main{
    background: linear-gradient(to right top, #8cdf65, #98e0d1);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: red;
    border-width: 5px;
    border-style: solid;
}
h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}
.workspace {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    border-color: rgb(218, 36, 235);
    border-width: 5px;
    border-style: solid;
}
.row {
    border-color: blue;
    border-width: 5px;
    border-style:solid
}
.col-sm{
    border-color: red;
    border-width: 5px;
    border-style: solid;
    height: 250px;
}
